
		html {
			color:OrangeRed; 
			font-family: sans-serif;
			background-color:Beige; 
		}
		strong {
			color: black;
		}
		#tone {
			color: gray;
		}
		#aa {
			color:PowderBlue;
		}
		.nav-link {
			
		}